.note-detail {
  margin-top: 2rem;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    word-wrap: break-word; // Ensures long words break onto the next line
    overflow-wrap: break-word; // Ensures long words break onto the next line
    white-space: normal; // Ensures text wraps
    max-width: 100%; // Ensures the title does not overflow the container
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
    word-wrap: break-word; // Ensures long words break onto the next line
    overflow-wrap: break-word; // Ensures long words break onto the next line
    white-space: normal; // Ensures text wraps
    max-width: 100%; // Ensures the content does not overflow the container

    &.note-content {
      margin-top: 0.5rem;
    }
  }
}
